@import url('https://fonts.googleapis.com/css?family=Averia+Serif+Libre|Bubblegum+Sans|Caveat+Brush|Chewy|Lobster+Two');
html {
    height: 100%;
    width:100%;
}


img{
    max-width: 120%;
    max-height: 120%;
}




.navbar {
    border: 0;
    z-index: 9999;
    letter-spacing: 4px;
    padding-right: 15px;

}

.logo {
    height: auto;
    width: 52px;
    padding-top: 5px;
}

.navbar-brand>img {
    height: 100%;
    padding: 15px; /* firefox bug fix */
    width: auto;
}
.navbar .nav > li > a {
    line-height: 50px;
}

.navbar-header h1 {
    letter-spacing: 1px;
    color: black !important;
    font-family: 'Lobster Two', cursive;
}

.navbar li a, .navbar {
    color: black !important;
    font-size: 12px;
    transition: all 0.6s 0s;
}

.navbar-toggle {
    background-color: transparent !important;
    border: 0;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: red !important;
}


